{% extends "base.html" %}
{% block body %}
    <div class="container mt-3">
            <div class="row border mt-4 p-3 meupost">
                <div class="col-3" style="text-align: center">
                    <div class="image pe-2">
                        <!-- Exibir a Foto de Perfil do Autor do Post -->
                        <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="200" >
                    </div>
                    <strong>{{ post.autor.username }}</strong>
                    <div class="row justify-content-center">
                        <div class="col">
                            {% for curso in post.autor.cursos.split(';') %}
                                <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                            {% endfor %}
                        </div>
                     </div>
                </div>
                <div class="col-9">
                    <!-- Exibir o Post -->
                    <h5>
                        {{ post.titulo }}
                        <small class="text-muted" style="font-size: 14px">
                            - Data de Criação: {{ post.data_criacao.strftime('%d/%m/%Y') }}
                            {% if form %}
                                <!-- O # serve para indicar que é um link dentro da própria página-->
                                <!-- data-bs-toggle="modal" data-bs-target="#ExcluirPost" são parâmetros para exibir o pop up -->
                                - <a href="#form_editarpost">Editar Post</a> / <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#ExcluirPost">Excluir Post</a>
                            {% endif %}
                        </small>
                    </h5>
                    <p>{{ post.corpo }}</p>
                </div>
            </div>
    </div>
    <div class="row mt-4"></div>

    {% if form %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="POST" action="" id="form_editarpost" class="border p-4 mt-2">
                        {{ form.csrf_token }} <!-- Campo escondido, garantir a segurança do formulário -->
                        <legend>Editar Post</legend> <!-- Legenda do Formulário de Editar Post -->
                        <fieldset> <!-- Separa os Campos do Botão, para ficar mais organizado -->
                            <div class="form-group"> <!-- Separar os Campos, para ficar cada um em uma linha -->
                                {{ form.titulo.label(class="form-control-label") }}
                                <!-- Validação do Campo Título -->
                                {% if form.titulo.errors %}
                                    {{ form.titulo(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form.titulo.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.titulo(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group"> <!-- Separar os Campos, para ficar cada um em uma linha -->
                                {{ form.corpo.label(class="form-control-label") }}
                                <!-- Validação do Campo Corpo do Post -->
                                {% if form.corpo.errors %}
                                    {{ form.corpo(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form.corpo.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.corpo(class="form-control") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <!-- Botão Editar Post -->
                        {{ form.botao_submit(class="btn btn-primary mt-2") }}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Pop up Confirmar Exclusão -->
    <div class="modal fade" id="ExcluirPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar Exclusão</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Você quer realmente excluir esse post? (Essa ação não pode ser desfeita)
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <!-- Fazer com que o Botão Exclua o Post -->
            <form method="POST" action="{{ url_for('excluir_post', post_id=post.id) }}">
                <button type="submit" class="btn btn-danger">Excluir Post</button>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}